<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="services.xml"/>

    <bean id="app" class="com.epam.spring.hometask.App">
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="eventService" ref="eventService"/>
        <constructor-arg name="auditoriumService" ref="auditoriumService"/>
        <constructor-arg name="bookingService" ref="bookingService"/>
        <constructor-arg name="discountService" ref="discountService"/>
    </bean>

</beans>